<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Panel</title>
    <style>
        .component {
            background-color: aliceblue;
            position: absolute;
            left: -50%;
            right: 0;
            top: -50%;
            bottom: 0;
            margin: auto;
            height: 200px;
            width: 300px;
        }
        h1{
            font-family: sans-serif;
            text-align: center;
        }

        h2{
            text-align: center;
            color: gray;
        }
    </style>
</head>

<body>
    <div class="component">
        <img src="../public/images/icons8-increase-100.png" alt="" width="90">
        <h1>Total subscribers</h1>
        <h2><%= count %></h2>
    </div>
</body>

</html>